
# TDD開発環境
node_modules/
src/generated/
coverage/
.env
.DS_Store
Thumbs.db

# TypeScript build output
dist/
*.tsbuildinfo

# コールグラフ
codeql-db

# secrets
.secrets

# LLM
copilot-instructions.md

# Rust
rust/target/
rust/Cargo.lock
pkg/


# Added by cargo

/target
